<h1 class="al-title">{{ pageTitle | translate }}</h1>

<div *ngIf="!loading && (rows.length === 0)" class="list-empty">{{ 'ds.messages.emptyList' | translate }}</div>

<div class="card container-fluid mt-5">
	<div class="row">
		<div class="col p-0">
			<div infiniteScroll (scrolled)="onScrollDown($event)" class="list-group simple-list infinite-scroll-list">
				<a *ngFor="let row of rows" (click)="activateFormioForm(row)" href="javascript:;" class="list-group-item justify-content-between has-left-icon m-0 mr-xs-4 ml-xs-4">
					<span class="left-icon pull-left fa fa-dot-circle-o" [ngClass]="{'priority-high': row.priority >= 80 }"></span>
					<div class="data-container d-inline-block w-100 pr-5">
						<div class="row">
							<div class="col-md-8">
								<h2 class="font-weight-normal mb-0">{{ row.title }}</h2>
								<div class="mt-2 text-grayed-out">
									<a class="fa fa-info-circle" [routerLink]="['..', row.uuid, 'show']"></a>
									<span class="small">
										{{ 'general.created' | translate }}
										<relative-time [timeInput]="row.createdAt"></relative-time>
									</span>
								</div>
							</div>
							<div class="col-md-4">
								<!--<div class="small text-grayed-out v-center no-transform position-md-right-0 position-relative position-md-absolute">{{row.customId}}</div>-->
								<div *ngIf="row.dueAt" class="small text-grayed-out mt-0 v-center-md float-md-right position-right-md-0">
									<span class="nowrap">
										{{ 'general.due' | translate }}
										<relative-time [timeInput]="row.dueAt"></relative-time>
									</span>
								</div>
							</div>
						</div>
					</div>
					<span class="right-icon pull-right v-center"></span>
				</a>
			</div>
		</div>
	</div>
</div>

<a [hidden]="loading || pager.pageNumber >= pager.totalPages"
   class="btn btn-default"
   (click)="fetchNextPage()">
	<i class="fa fa-chevron-circle-down"></i>
	<span>{{ 'general.more' | translate }}</span>
</a>

<md-progress-spinner [hidden]="!loading" mode="indeterminate"></md-progress-spinner>
