@import 'conf/conf';
@import '~bootstrap/scss/bootstrap';

$text-color: #ffffff;

$blocks-column-width: 570px;

.auth-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;

}

.header-block {
  width: $blocks-column-width;
  margin: 0 auto 16px;
  border-radius: 5px;
  background-color: $sidebar;
  color: #fff;
  padding: 32px;

  a.al-logo {
    text-align: center;
    float: none;

    img {
      margin-left: 0;
    }
  }
}

.footer-block {
  position: relative;
  width: $blocks-column-width;
  margin: 0 auto;
  padding: 16px;
  border-radius: 5px;
  //@include bg-translucent-dark(0.55);
  color: #fff;

  .ds-language-switcher {
    float: right;

    .al-dropdown {
      ul.dropdown-menu.language-dropdown {
        max-width: 10rem;
        top: 23px;
        padding: 0.25rem 0;
        @include border-radius(0);

        &:after {
          display: none;
        }

      }

      > a {
        color: $primary;
        &:hover {
          color: $primary-dark;
        }
      }
    }
  }
}

.auth-block {
  width: $blocks-column-width;
  margin: 0 auto;
  border-radius: 5px;
  @include bg-translucent-dark(0.55);
  color: #fff;
  padding: 32px;
  h1 {
    font-weight: $font-light;
    margin-bottom: 28px;
    text-align: center;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
  }

  .control-label {
    line-height: 1.3em;
    display: flex;
    align-self: center;
    padding-top: 11px;
    color: $text-color;
  }

  .form-group {
    margin-bottom: 12px;
  }
}

.auth-input {
  width: 300px;
  margin-bottom: 24px;
  input {
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 4px 10px;
    outline: none;
  }
}

a.forgot-pass {
  display: block;
  text-align: right;
  margin-bottom: -20px;
  float: right;
  z-index: 2;
  position: relative;
}

.auth-link {
  display: block;
  font-size: 16px;
  text-align: center;
  margin-bottom: 33px;
}

.auth-sep {
  margin-top: 36px;
  margin-bottom: 24px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  display: block;
  position: relative;
  & > span {
    display: table-cell;
    width: 30%;
    white-space: nowrap;
    padding: 0 24px;
    color: $text-color;
    & > span {
      margin-top: -12px;
      display: block;
    }
  }
  &:before, &:after {
    border-top: solid 1px $text-color;
    content: "";
    height: 1px;
    width: 35%;
    display: table-cell;
  }
}

.al-share-auth {
  text-align: center;
  .al-share {
    float: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      margin-left: 24px;
      &:first-child {
        margin-left: 0;
      }
      i {
        font-size: 24px;
      }
    }
  }
}

.btn-auth {
  color: #ffffff!important;
}
