
.ds-language-switcher-dropdown {
  display: inline-block;

  .dropdown-toggle {
    font-size: 1.2rem;
  }

  .dropdown-item {
    font-size: 1.2rem;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
}
