<form #entityForm="ngForm" *ngIf="active" (ngSubmit)="onSubmit()">
	<div class="d-flex mb-4">
		<div>
			<h1 class="al-title">{{ pageTitle | translate }}</h1>
			<back-link *ngIf="backLink" [link]="backLink" class="pb-0"></back-link>
		</div>

		<span class="ml-auto">
			<button type="submit" class="btn btn-primary btn-with-icon"><i class="ion-checkmark-circled">{{'ds.microservices.entity.action.save' | translate}}</i></button>
			<button type="button" (click)="cancelForm()" class="btn btn-secondary">{{'ds.microservices.entity.action.cancel' | translate}}</button>
		</span>
	</div>

	<div *ngIf="entity">
		<!-- Form Language Switch -->
		<div class="position-relative zindex-1">
			<ds-language-switcher-tabs (onLanguageChange)="switchLang($event)"></ds-language-switcher-tabs>
		</div>
		<div class="card entity-card animated fadeIn">
			<ng-content></ng-content>
		</div>
	</div>
</form>