<div *ngIf="entity" class="card entity-card animated fadeIn">
	<div class="card-header">
		<div class="row justify-content-between">
			<div class="col-6">
				<h3 class="card-title" translate="" ng-reflect-translate="">{{entity.uuid}}</h3>
			</div>

			<div class="col-6">
				<div class="container">
					<ul class="row btn-list clearfix">
						<li class="col-8">
							<button [routerLink]="['../edit']" type="button" class="btn btn-primary btn-with-icon"><i class="ion-edit">{{'ds.microservices.entity.action.edit' | translate}}</i></button>
							<ng-content select="button.entity-action"></ng-content>
						</li>
						<li class="col-4 align-right">
							<button (click)="onDeleteClick($event)" type="button" class="btn btn-danger btn-with-icon"><i class="ion-android-delete">{{'ds.microservices.entity.action.delete' | translate}}</i></button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<ng-content select=".entity-body"></ng-content>
</div>