<div class="card container-fluid">
	<div class="row">
		<div class="col p-0">
			<md-progress-spinner [hidden]="!loading" mode="indeterminate"></md-progress-spinner>
			<div class="list-group simple-list">
				<a *ngFor="let row of rows" [routerLink]="['..', row.uuid, 'show']" href="#" class="list-group-item justify-content-between has-left-icon m-0 mr-xs-4 ml-xs-4">
					<span class="left-icon pull-left {{ 'state-' + row.state }}"></span>
					<div class="data-container d-inline-block w-100 pr-5">
						<div class="row">
							<div class="col-sm-8">
								<h2 class="font-weight-normal mb-0">{{row.title | entityTranslate}}</h2>
							</div>
							<div class="col-sm-4 mt-2 mt-sm-0">
								<!--<div class="small text-grayed-out v-center no-transform position-sm-right-0 position-relative position-sm-absolute">{{row.customId}}</div>-->
								<div class="small text-grayed-out mt-2 mt-sm-0 v-center-sm float-sm-right position-right-sm-0">
									<span class="nowrap mr-4"><relative-time [timeInput]="row.createdAt"></relative-time></span>
									<span class="nowrap">{{row.customId}}</span>
								</div>
							</div>
						</div>
					</div>
					<!--<p class="lead mt-3 mb-0 pr-5">{{row.description | entityTranslate}}</p>-->
					<span class="right-icon pull-right v-center"></span>
				</a>
			</div>
		</div>
	</div>
</div>
