<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">{{ 'login.verifyIdentity' | translate }}</h4>
		<button class="close" aria-label="Close" (click)="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body pb-0">
		<form>
			<div class="form-group">
				<label for="password">{{ 'login.password' | translate }}</label>
				<input id="password" name="password" type="password" [(ngModel)]="password" class="form-control">
			</div>
		</form>
	</div>
	<div *ngIf="actions" class="modal-footer pt-0">
		<button *ngFor="let action of actions" class="btn btn-primary confirm-btn" (click)="verifyCredentials()" >{{ action.label | translate }}</button>
		<!--<button class="btn btn-primary confirm-btn" (click)="closeModal()">Save changes</button>-->
	</div>
</div>
