<div class="row">
	<div class="col-md-6">
		<div class="card no-shadow">
			<div class="card-header">
				<h3 class="card-title">Timeline</h3>
			</div>
			<div class="card-block pr-0 pl-0">
				<timeline>
					<div class="cd-timeline-block" id="blockOne">
						<div class="cd-timeline-img cd-event"><i class="fa fa-clock-o"></i></div>
						<div class="cd-timeline-content">
							<div><a href="#">Case #12</a> opened by @jasonst</div>
							<span class="cd-date small pt-1 pb-0">22 minutes ago</span>
						</div>
					</div>

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-movie"><i class="fa fa-clock-o"></i></div>
						<div class="cd-timeline-content">
							<div><a href="#">Case #4</a> closed</div>
							<span class="cd-date small pt-1 pb-0">4 hours ago</span>
						</div>
					</div>

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-movie"><i class="fa fa-clock-o"></i></div>
						<div class="cd-timeline-content">
							<div><a href="#">Case #16</a> status updated</div>
							<span class="cd-date small pt-1 pb-0">16 hours ago</span>
						</div>
					</div>

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-movie"><i class="fa fa-clock-o"></i></div>
						<div class="cd-timeline-content">
							<div><a href="#">Case #4</a> status updated</div>
							<span class="cd-date small pt-1 pb-0">Yesterday</span>
						</div>
					</div>

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-movie"><i class="fa fa-clock-o"></i></div>
						<div class="cd-timeline-content">
							<div><a href="#">Case #16</a> opened by @aericardo</div>
							<span class="cd-date small pt-1 pb-0">Last week</span>
						</div>
					</div>

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-movie"><i class="fa fa-clock-o"></i></div>
						<div class="cd-timeline-content">
							<div><a href="#">Case #4</a> opened by @aericardo</div>
							<span class="cd-date small pt-1 pb-0">Last week</span>
						</div>
					</div>
				</timeline>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card no-shadow">
			<div class="card-header">
				<h3 class="card-title">Events</h3>
			</div>
			<div class="card-block pr-0 pl-0 pb-0">
				<ul class="list-of-events container-fluid">
					<li class="row item odd">
						<div class="col-sm-8">
							<h4>Mobile Adventure Playground</h4>
						</div>
						<div class="col-sm-4 date small text-grayed-out text-align-sm-right">
							<span class="line-height-1">In 5 days</span>
						</div>
						<div class="col-12">
							On-site program staff will serve as play ambassadors, who will ...
							<a href="#" class="btn btn-icon"><i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</li>
					<li class="row item even">
						<div class="col-sm-8">
							<h4>Cinema Under the Stars</h4>
						</div>
						<div class="col-sm-4 date small text-grayed-out text-align-sm-right">
							<span class="line-height-1">Next week</span>
						</div>
						<div class="col-12">
							Bring your lawn chair and blanket for a Cinema Under the Stars featuring Despicable Me 3. ...
							<a href="#" class="btn btn-icon"><i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</li>
					<li class="row item odd">
						<div class="col-sm-8">
							<h4>Try it for a Toonie (drop-in)</h4>
						</div>
						<div class="col-sm-4 date small text-grayed-out text-align-sm-right">
							<span class="line-height-1">In 3 weeks</span>
						</div>
						<div class="col-12">
							Come and celebrate the fall by trying a class at Southland Centre ...
							<a href="#" class="btn btn-icon"><i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="card no-shadow">
			<div class="card-header">
				<h3 class="card-title">Reminders</h3>
			</div>
			<div class="card-block pr-0 pl-0 pb-0">
				<ul class="list-of-events container-fluid">
					<li class="row item odd">
						<div class="col-sm-8">Weekend Hockey</div>
						<div class="col-sm-4 date small text-grayed-out text-align-sm-right">
							<span class="line-height-1">In 2 days</span>
						</div>
					</li>
					<li class="row item even">
						<div class="col-sm-8">Tax Payment</div>
						<div class="col-sm-4 date small text-grayed-out text-align-sm-right">
							<span class="line-height-1">In 3 weeks</span>
						</div>
					</li>
					<li class="row item odd">
						<div class="col-sm-8">Flu Clinic Registration</div>
						<div class="col-sm-4 date small text-grayed-out text-align-sm-right">
							<span class="line-height-1">In 4 months</span>
						</div>
					</li>
					<li class="row item even">
						<div class="col-sm-8">Dog License Renewal</div>
						<div class="col-sm-4 date small text-grayed-out text-align-sm-right">
							<span class="line-height-1">In 6 months</span>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="card no-shadow">
			<div class="card-header">
				<h3 class="card-title">Garbage Pickup</h3>
			</div>
			<div class="card-block pr-0 pl-0 pb-0">
				<ul class="list-of-events container-fluid">
					<li class="row item odd">
						<div class="col-sm-8">Next Pickup for Home</div>
						<div class="col-sm-4 date small text-grayed-out text-align-sm-right">
							<span class="line-height-1">Tuesday</span>
						</div>
					</li>
					<li class="row item even">
						<div class="col-sm-8">Next Pickup for Parents House</div>
						<div class="col-sm-4 date small text-grayed-out text-align-sm-right">
							<span class="line-height-1">Friday</span>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="card no-shadow">
			<div class="card-header">
				<h3 class="card-title">Eligible Tax Credits</h3>
			</div>
			<div class="card-block pr-0 pl-0 pb-0">
				<ul class="list-of-events container-fluid">
					<li class="row item">
						<div class="col-sm-12">
							$675, additional $1500 possible
							<a href="#" class="btn btn-icon"><i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="card no-shadow">
			<div class="card-header">
				<h3 class="card-title">My Service Requests</h3>
			</div>
			<div class="card-block pr-0 pl-0 pb-0">
				<ul class="list-of-events container-fluid">
					<li class="row item odd">
						<div class="col-sm-12">
							<a href="#">Sample service request (1)</a>
						</div>
					</li>
					<li class="row item even">
						<div class="col-sm-12">
							<a href="#">Sample service request (2)</a>
						</div>
					</li>
					<li class="row item odd">
						<div class="col-sm-12">
							<a href="#">Sample service request (3)</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
