<ds-entity-show *ngIf="entity" [entity]="entity" (onDelete)="onDelete($event)">

	<!-- begin: ng-content[select="button.entity-action"] -->
	<!-- end: ng-content[select="button.entity-action"] -->

	<!-- begin: ng-content[select=".entity-body"] -->
	<div class="card-block entity-body entity-data">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-3">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.title' | translate }}</dt>
					<dd>{{entity.title}}</dd>
				</dl>
				<dl>
					<dt>{{ 'ds.microservices.entity.property.channel' | translate }}</dt>
					<dd>{{entityMetadata['channel'].field.options[entity.channel]}}</dd>
				</dl>
			</div>
		</div>
	</div>
	<!-- end: ng-content[select=".entity-body"] -->

</ds-entity-show>
