<ds-entity-form *ngIf="entity"
				[entity]="entity"
				[headerTitle]="headerTitle"
				[isNew]="isNew"
				(onFormInit)="onFormInit($event)"
				(onFormChange)="onFormChange($event)"
				(onFormSubmit)="onFormSubmit($event)"
				(onFormCancel)="onFormCancel($event)"
>
	<div class="card-block">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="title">{{ 'ds.microservices.entity.property.title' | translate }}</label>
					<input id="title" name="title" type="text" [(ngModel)]="entity.title" class="form-control" placeholder="" required>
					<div *ngIf="formErrors.title" class="alert alert-danger">
						{{ formErrors.title }}
					</div>
				</div>
			</div>
		</div>
	</div>
</ds-entity-form>
