@import '../../sass/conf/conf';

.content-top {
  padding-top: 30px;
}

ds-breadcrumbs {
  /deep/
  .breadcrumb {
    min-height: 48px;
    margin-bottom: $grid-gutter-width-base;
    overflow: visible;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    .breadcrumb-item {
      //max-width: 20%;
      white-space: nowrap;
      overflow: hidden;
      //text-overflow: ellipsis;
      display: inline-block;
      vertical-align: middle;
      float: none;

      &:hover {
        max-width: inherit;
      }

      &.active {
        max-width: inherit;

        a {
          color: inherit;
          pointer-events: none;
        }
      }
    }
  }
}
