@import "formio-table";
@import "formio-buttons";
@import "formio-icons";

/*
 * Form.io styles reset and override.
 */

.formio {
  formio-loader, // Hide the loading spinner since we are using our own
  .alert.alert-success {
    display: none;
  }
}

.formio-form {

  //// Responsive Layout
  //.row {
  //  flex-wrap: initial;
  //}

  .col {
    @include flex-basis(inherit);
  }

  // Components
  .formio-component {

    .help-block {
      font-size: 0.85em;
      line-height: 1.2em;
      margin-top: 0.5em;
    }
  }

  .formio-component-day {
    .form-control {
      display: block;
      width: 100%;
      padding-right: 0;
      flex: unset;
      flex-direction: unset;
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }

  .formio-component-radio,
  .formio-component-checkbox {
    .input-group {
      display: block;
    }

    label {
      span {
        padding-left: 0.5em;
      }
    }
  }


  .formio-component-signature {
    &.required {
      .signature-pad-footer {
        &:after {
          content: ' *';
          color: $danger;
        }
      }
    }
  }

  @include media-breakpoint-up(xs) {
    .row {
      flex-wrap: initial;
    }
  }
}
