.ngx-datatable {

  .datatable-header {

    .datatable-header-cell {
      padding: 0 0.5em;
    }
  }

  .datatable-body-row {
    &.datatable-row-even {
      background-color: rgba(255,255,255,0.1);
    }

    .datatable-body-cell {
      display: flex;
      padding: 0.5em;

      .datatable-body-cell-label {
        align-self: center;
      }
    }
  }
}