<div class="card">
	<div class="card-header">
		<h3 class="card-title" translate>general.menu.scenario_activation</h3>
	</div>

	<div class="card-block">
		<formio [form]="formioFormSchema"
				(submit)="onFormioFormSubmit($event)"
				(invalid)="onFormioFormInvalid($event)">
		</formio>
	</div>
</div>

<!--<ng-template #modalSubmissionResult>-->
	<!--<div class="modal-header">-->
		<!--<h4 class="modal-title">Response</h4>-->
	<!--</div>-->
	<!--<div class="modal-body">-->
		<!--<pre>{{ submissionResult }}</pre>-->
	<!--</div>-->
<!--</ng-template>-->