<ds-entity-show *ngIf="entity"
				[entity]="entity"
				[backLink]="backLink"
				[headerTitle]="headerTitle"
				[headerSubtitle]="headerSubtitle"
				[actions]="actions"
				(onDelete)="onDelete($event)">

	<!-- begin: ng-content[select="button.entity-action"] -->
	<button [routerLink]="['../activate']" type="button" class="entity-action btn btn-secondary btn-with-icon"><i class="ion-power">{{ 'ds.microservices.entity.action.activate' | translate }}</i></button>
	<!-- end: ng-content[select="button.entity-action"] -->

	<!-- begin: ng-content[select=".entity-body"] -->
	<div class="card-block entity-body entity-data">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-3">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.title' | translate }}</dt>
					<dd>{{entity.title | entityTranslate}}</dd>
				</dl>
				<dl>
					<dt>{{ 'ds.microservices.entity.property.presentation' | translate }}</dt>
					<dd>{{entity.presentation | entityTranslate}}</dd>
				</dl>
				<dl>
					<dt>{{ 'ds.microservices.entity.property.processDefinitionKey' | translate }}</dt>
					<dd>{{entity.data.process_definition_key}}</dd>
				</dl>
			</div>
			<div class="col-sm-8 col-sm-offset-3">
				<dl>
					<dt>UUID</dt>
					<dd>{{entity.uuid}}</dd>
				</dl>
				<dl>
					<dt>{{ 'ds.microservices.entity.property.description' | translate }}</dt>
					<dd>{{entity.description | entityTranslate}}</dd>
				</dl>
			</div>
		</div>
	</div>
	<!-- end: ng-content[select=".entity-body"] -->

</ds-entity-show>
