<h1 class="al-title">{{ pageTitle | translate }}</h1>

<back-link *ngIf="backLink" [link]="backLink"></back-link>

<md-progress-spinner [hidden]="entity" mode="indeterminate"></md-progress-spinner>

<div *ngIf="entity" class="pb-4">
	<p class="lead">{{entity.description | entityTranslate}}</p>
</div>

<md-progress-spinner [hidden]="!loadingScenarios" mode="indeterminate"></md-progress-spinner>

<div *ngIf="entity && scenarios.length > 0" class="animated fadeIn">

	<!--<div class="card-block entity-body entity-data">-->
		<div id="scenarios-tabs" class="tabs-container">
			<div class="accordion-wrapper">
				<ng-container *ngFor="let scenario of scenarios">
					<h2 id="tab-panel-title-{{scenario.uuid}}" class="tabs-container__title">
						<i class="icon icon-closed fa fa-caret-right float-right"></i>
						<i class="icon icon-open fa fa-caret-down float-right"></i>
						{{scenario.title | entityTranslate}}
					</h2>
					<div id="tab-{{scenario.uuid}}" class="card p-0 tabs-container__panel">
						<div class="card-block">
							<p class="lead mt-2">{{scenario.description | entityTranslate}}</p>
							<div *ngIf="scenario.data && scenario.data[lang].button_text" class="actions btn-group pt-4">
								<!--<button class="btn btn-primary" [routerLink]="['..', 'scenarios', scenario.uuid, 'activate']">-->
									<!--{{'ds.microservices.entity.action.activate' | translate}}-->
								<!--</button>-->
								<a *ngIf="scenario.type === 'bpm'"
								   class="btn btn-primary"
								   href="javascript:;"
								   (click)="activateFormioForm(scenario)"
								   title="{{ scenario.data[lang].button_text | entityTranslate }}">
									{{ scenario.data[lang].button_text | translate }}
								</a>
								<a *ngIf="['url', 'api'].indexOf(scenario.type) >= 0"
								   class="btn btn-primary"
								   [href]="getScenarioLinkUrl(scenario.uuid)" target="_blank"
								   title="{{ scenario.data[lang].button_text | entityTranslate }}">
									{{ scenario.data[lang].button_text | translate }}
								</a>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	<!--</div>-->

</div>
