<md-progress-spinner [hidden]="entity" mode="indeterminate"></md-progress-spinner>

<div *ngIf="entity" class="pb-4">
	<p class="lead">{{entity.description | entityTranslate}}</p>
</div>

<md-progress-spinner [hidden]="!loadingScenarios" mode="indeterminate"></md-progress-spinner>

<div *ngIf="entity && scenarios.length > 0" class="card entity-card animated fadeIn">

	<div class="card-block entity-body entity-data">
		<div id="scenarios-tabs" class="tabs-container">
			<div class='accordion-wrapper'>
				<ng-container *ngFor="let scenario of scenarios">
					<h2 id="tab-panel-title-{{scenario.uuid}}" class="tabs-container__title">
						{{scenario.title | entityTranslate}}
					</h2>
					<div id="tab-{{scenario.uuid}}" class="tabs-container__panel">
						<p class="lead mt-2">{{scenario.description | entityTranslate}}</p>
						<div class="actions btn-group p-1 pt-4">
							<button class="btn btn-primary" [routerLink]="['..', 'scenarios', scenario.uuid, 'activate']">
								{{'ds.microservices.entity.action.activate' | translate}}
							</button>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>

</div>
