<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [innerHTML]="modalContent">
    {{modalContent}}
  </div>
  <div *ngIf="actions" class="modal-footer">
    <button *ngFor="let action of actions" class="btn confirm-btn" (click)="closeModal(action)" >{{ action.label }}</button>
    <!--<button class="btn btn-primary confirm-btn" (click)="closeModal()">Save changes</button>-->
  </div>
</div>
